<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Techhub" description="Sitecore 9.3 MVC Project">
					<targetDataStore physicalRootPath="/Serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="Techhub.Templates" database="master" path="/sitecore/templates/Project/Techhub" />
						<include name="Techhub.Contents" database="master" path="/sitecore/content/TechHub" />
						<include name="Techhub.Media" database="master" path="/sitecore/media library" />
						<include name="Techhub.Renderings" database="master" path="/sitecore/layout/Renderings/Project/TechHub" />
						<include name="Techhub.Layouts" database="master" path="/sitecore/layout/Layouts/Project/Techhub" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
		<pipelines>
			<owin.cookieAuthentication.validateIdentity>
				<processor type="Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.ValidateIdentity.ValidateSiteNeutralPaths, Sitecore.Owin.Authentication">
					<siteNeutralPaths hint="list">
						<path hint="unicorn">/unicorn.aspx</path>
					</siteNeutralPaths>
				</processor>
			</owin.cookieAuthentication.validateIdentity>
		</pipelines>
	</sitecore>
</configuration>